.article.content.article-grid {
  display: grid;
}

.worked-example-stepper-embed .relative.inline-block {
  width: 100% !important;
  height: 700px;
  padding-bottom: 0 !important;
}

.worked-example-stepper-embed figure {
  margin-bottom: 0.35rem;
}

.worked-example-stepper-embed figcaption {
  margin-top: 0.35rem;
}

.worked-example-stepper-embed iframe {
  position: static !important;
  width: 100% !important;
  height: 100% !important;
  border: 0 !important;
}

.geometry-embed .relative.inline-block {
  width: 100% !important;
  padding-bottom: 0 !important;
}

.geometry-embed iframe {
  position: static !important;
  width: 100% !important;
  height: 100% !important;
  border: 0 !important;
}

.geometry-embed-one-dimensional .relative.inline-block {
  height: 500px;
}

.geometry-embed-contour .relative.inline-block {
  height: 520px;
}

.geometry-embed-learning-rate .relative.inline-block {
  height: 470px;
}

@media (max-width: 560px) {
  .worked-example-stepper-embed .relative.inline-block {
    height: 1180px;
  }

  .geometry-embed .relative.inline-block {
    height: 760px;
  }
}


/* footer part */
/*
 * This file adds custom CSS to improve the footer layout. It is not required
 * for use of landing-pages
 */
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

.article.content {
  /* Override 100vh from myst-theme:styles/typography.css so content div
   * doesn't push the footer offscreen.
   */
  min-height: 0vh;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

.footer {
  /* Make footer "sticky" to page bottom (also the above flex rules), per
   * the flexbox strategy described here:
   * 	https://css-tricks.com/couple-takes-sticky-footer/#aa-there-is-flexbox
   * and here:
   *    https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
   * This solution does not require hardcoding a fixed footer height in the
   * style rules.
   */
  flex-shrink: 0;
  background: #0C2340;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;

  padding-left: 3.5rem;
  padding-right: 3.5rem;

  /* Outer content grid */
  & .outer-grid {
    /* spacer, project description, spacer, link columns, spacer */
    grid-template-columns: 3fr 3fr 4fr;
    align-items: center;
    margin-bottom: 0rem;

    & li {
      list-style: none;
    }
  }

  @media (max-width: 640px) {
    & .outer-grid {
      grid-template-columns: 1fr;
      justify-items: start;
    }
  }

  /* Heading colours */
  & a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }

  & h1 {
    font-size: 1.25rem;
    font-weight: bold;
  }
}
